.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #9ba9eb;
  min-height: 100vh;
  padding: 32px;
}
.top-section {
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
  width: 80%;
  margin-bottom: 16px;
}
.app-logo {
  height: 35px;
  width: 100px;
}
.middle-section {
  height: 35%;
  width: 80%;
  display: flex;
  justify-content: space-between;
  background-color: #5763a5;
  border-radius: 5px;

  padding-left: 32px;
  padding-right: 32px;
  margin-bottom: 16px;
}
.password-image {
  width: 50%;
  height: 50vh;
  order: 1;
}
.inputs-container {
  width: 45%;
  border: none;
  margin: 16px;
  padding: 16px;
  background-color: #454f84;
  border-radius: 8px;
  order: 0;
}

.heading {
  font-family: 'Roboto';
  font-size: 24px;
  color: #ffffff;
}
.website-container {
  height: 35px;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: flex-start;
  border-radius: 5px;
  margin-bottom: 16px;
}
.icon-container {
  height: 30px;
  width: 40px;
}
.horizontal-line {
  margin: 0px;
}
.icon {
  height: 16px;
  width: 16px;
  margin-top: 10px;
  margin-left: 10px;
}
.input-styling {
  cursor: pointer;
  outline: none;
  border: none;
  width: 100%;
}
.button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.button {
  height: 30px;
  width: 80px;
  font-family: 'Roboto';
  font-size: 18px;
  color: #ffffff;
  background-color: #0b69ff;
  border: 0px none;
  border-radius: 5px;
}
.bottom-section {
  height: 50%;
  width: 80%;
  border-radius: 5px;
  background-color: #5763a5;
  display: flex;
  flex-direction: column;
  padding-left: 32px;
  padding-right: 32px;
}
.search-container {
  height: 25px;
  width: 30%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.bottom-section-top {
  display: flex;
  justify-content: space-between;
}
.your-passwords-section {
  display: flex;
  flex-direction: flex-start;
}

.your-passwords {
  font-family: 'Roboto';
  font-size: 18px;
  color: #ffffff;
  margin-right: 16px;
  margin-top: 16px;
}
.passwords-count {
  font-family: 'Roboto';
  font-size: 18px;
  color: #ffffff;
}
.search-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 30%;
  height: 35px;
  border: none;
  background-color: #ffffff;
  margin-top: 10px;
}
.search-image-container {
  height: 35px;
  width: 35px;
  border: none;
}
.search-icon {
  height: 18px;
  width: 18px;
  margin-top: 8px;
  margin-left: 8px;
}
.search-section {
  height: 35px;
  width: 25px;
  cursor: pointer;
  outline: none;
  width: 90%;
  border: none;
  padding: 16px;
}
.horizontal-line1 {
  margin: 0px;
}
.show-passwords-container {
  display: flex;
  justify-content: flex-end;
}
.checkbox {
  height: 18px;
  width: 18px;
  margin-bottom: 0px;
}
.show-passwords {
  font-family: 'Roboto';
  font-size: 18px;
  color: #ffffff;
  margin-top: 5px;
}
.no-passwords-container {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.no-passwords-image {
  height: 20%;
  width: 30%;
}
.no-passwords {
  font-family: 'Roboto';
  font-size: 18px;
  color: #ffffff;
}
.list-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
@media screen and (max-width: 576px) {
  .app-container {
    padding: 16px;
  }
  .top-section {
    width: 100%;
  }
  .middle-section {
    width: 100%;
    flex-direction: column;
  }
  .inputs-container {
    order: 1;
    width: 100%;
    margin-bottom: 16px;
    margin-left: 0px;
  }
  .password-image {
    order: 0;
    height: 25vh;
    width: 90%;
  }
  .heading {
    font-size: 20px;
  }
  .bottom-section {
    height: 45vh;
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .your-passwords {
    font-size: 12px;
    margin-right: 8px;
  }
  .passwords-count {
    font-size: 12px;
    margin-top: 16px;
  }
  .search-container {
    width: 50%;
    height: 25px;
  }
  .search-image-container {
    height: 25px;
    width: 30px;
  }
  .search-icon {
    height: 14px;
    width: 14px;
    margin-left: 8px;
    margin-top: 5px;
  }
  .search-section {
    height: 25px;
    padding: 0px;
    padding-left: 5px;
  }
  .no-passwords-container {
    width: 100%;
    height: 100%;
  }
  .no-passwords-image {
    height: 40%;
    width: 50%;
  }
  .list-container {
    width: 100%;
    padding: 0px;
  }
  .checkbox {
    margin-top: 6px;
    height: 14px;
    width: 14px;
  }
  .show-passwords {
    font-size: 14px;
  }
  .show-passwords-container {
    margin-top: 4px;
  }
}
